# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets
.env
.env.*
*.secret

# IDE and OS metadata
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary logs & debug files
*.log
scratch/
